.weatherPage {
  background-color: #ffffff;
  color: #333;
  padding: 2rem;
  text-align: center;

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  h2 {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }

  ul {
    font-size: 1.2rem;
    list-style-type: disc;
    margin-left: 1.5rem;
    padding: 0;
    display: inline-block;
    text-align: left;
  }
}
