.whiteboardPage {
  background-color: #ffffff;
  color: #333;
  padding: 2rem;
  text-align: center;

  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }

  .whiteboardTitle {
    font-size: 1.6rem;
    margin-bottom: 1rem;
  }
}
