.sliderContainer {
  position: relative;
}

.slider {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 1rem;
  padding: 0rem;
  scroll-padding: 1rem;
  -webkit-overflow-scrolling: touch;

  &::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 0.5rem;
  }
}

.slide {
  flex: 0 0 100%;
  scroll-snap-align: start;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  background-color: #ffffff;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
}

.prevBtn,
.nextBtn {
  position: absolute;
  top: 0; /* added */
  bottom: 0; /* added */
  margin: auto; /* added */
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  border: none;
  font-size: 1rem;
  padding: 0rem;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  width: 2rem; /* adjust to desired width */
  height: 2rem; /* adjust to desired height */
  line-height: 2rem; /* added */
  text-align: center; /* added */

  &:hover {
    background-color: rgba(0, 0, 0, 0.7);
  }
}

.prevBtn {
  left: 1rem;
}

.nextBtn {
  right: 1rem;
}

@media (max-width: 680px) {
  .slide {
    h2 {
      font-size: 1.25rem;
    }
  }
}

@media (max-width: 480px) {
  .slide {
    h2 {
      font-size: 1rem;
    }
  }
}

/* Media query targeting iOS devices */
@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  .prevBtn,
  .nextBtn {
    line-height: 1.8rem; /* adjust to center the arrow vertically on iOS devices */
  }
}
